<div class="act-info clearfix">
  <div class="act-info-group pull-right act-msg-details"><span class="i-text act-time"><%= action.humanizedTimestamp(new Date(), { onlyIncludeHourMinute: action.get('followOn') }) %></span></div>
  <div class="act-info-group pull-left">
    <span class="act-sender"><%= action.get('user').escape('name') %></span>
  </div>
</div>


<div class="act-text clearfix">
  <div class="act-upload-file-line">
    <i class='act-upload-icon fa fa-fw fa-file'></i>
    <a target='_blank' href="<%= action.get('fileUrl') %>"><%= action.get('fileName') %></a>
  </div>
  <% if(action.get('notes') && action.get('notes').length > 0){ %>
    <div class='act-file-upload-notes'><%= action.escape('notes') %></div>
  <% } %>
</div>
