<div class='page-wrapper'>
  <header>
  <div class='nav clearfix'>
    <div class='btn-group pull-left'>
  <a href="<%= root_path %>" class='nav-item active'>Water Cooler</a>
  <a href="<%= tour_path %>" class='nav-item'>Tour</a>
  <a href="<%= pricing_path %>" class='nav-item'>Pricing</a>
</div>

<div class='btn-group pull-right'>
  <a href="#" class="nav-item nav-item-toggle login-modal-trigger">Sign In</a>
</div>
  <div class="login-modal hidden">
      <%= form_tag session_path, :class => 'form' do %>
        <%= email_field_tag :email, params[:email], placeholder: 'Email' %>
        <%= password_field_tag :password, nil, placeholder: 'Password' %>
        <div class="clearfix">
          <div class="btn-group pull-right">
            <%= submit_tag 'Sign In', :class => 'form-btn form-btn-primary' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</header>

<div class="main">
  <div class="hero">
<!--     <img src="http://placehold.it/533x300&text=screenshot">
 -->
    <h1>Water Cooler</h1>
    <h2>Collaborative communication for creative teams</h2>
    <a href="#" class='hero-sign-up-button btn-primary'>Sign Up</a>
  </div>
</div>
<div class="copy-wrapper">
  <ul class='copy clearfix'>
    <li>
  <h4>Less Stressful</h4>
  <p>Disclaimer: We can't actually reduce the stress of your job, that's your
    problem. What we can help you with is the little things about communicating
    with your team.
  </p>
  <p>Read more about <a href="<%= tour_path %>#stress-free">Stress Free* Communication</a></p>
</li>

<li>
  <h4>Web Native</h4>
  <p>You can access Water Cooler from any browser, but even cooler is that Water
    Cooler's data is build with the web in mind. Stop sending email chains and
    just send a link to a thread.
  </p>
  <p>More on <a href="<%= tour_path %>#web-native">Web Native Data.</a></p>
 </li>
 <li>
  <h4>Built For Teams</h4>
  <p>We've built Water Cooler from the ground up with small creative teams in
    mind. Open ended discussion, brainstorming, deciding where to go to lunch;
    creative teams deal with these things constantly, so we built Water Cooler
    to be great at them.
  </p>
  <p>See how Water Cooler can <a href="<%= tour_path %>#teams">work for your team.</a></p>

</li><li>

  <h4>Respects Privacy</h4>
  <p>Collaboration is about sharing information, but sometimes you still need to
    be able to have a private conversation.
  </p>
  <p>Water Cooler has a simple set of controls that let you have restrict your
    conversations to 1-on-1, just your team, your whole organizaiton, or any
    ad-hoc group in between  (great for planning a surprise party).
  </p>
  <p><a href="<%= tour_path %>#privacy">Never cc: the wrong person again</a></p>
</li>
</ul>
</div>
<footer>
  Built by <a href="#">Structural</a> in Boston, MA
</footer>
</div>
