
<header>
  <div class='nav clearfix'>
    <div class='btn-group pull-left'>
      <a href="<%= root_path %>" class='nav-item <%= active_on_path marketing_path %>'>Water Cooler</a>
    </div>

    <div class="btn-group pull-right">
      <a href="#" class="nav-item nav-item-toggle mkt-sign-in-toggle">Site</a>
      <div class="login-modal hidden">
        <%= form_tag speakeasy_path, :class => '' do %>
        <div class='form modal-content'>

          <%= label_tag :code_word, 'Passcode' %>
          <%= text_field_tag :code_word, '' %>
        </div>
        <div class='clearfix'>
          <div class='btn-group pull-right'>
            <%= submit_tag 'Go to Test Site', :class => 'btn btn-primary' %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</header>



<div class="home-main main">
  <div class="login-form">
    <div class='btn-toolbar'>
      <span class='toolbar-title'>Password Reset</span>
    </div>
    <%= form_tag password_resets_path, :method => :post do %>
      <div class='form modal-content'>
        <%= label_tag :email, 'Email' %>
        <%= email_field_tag :email, params[:email] %>
      </div>
      <div class='btn-toolbar-below clearfix'>
      <div class='btn-group pull-right'>
        <%= submit_tag "Reset my password!", :class => 'btn-primary' %>
      </div>
    </div>
    <% end %>
  </div>
</div>