<div id="short-form-compose" class="clearfix">
  <div class="short-form-block pull-right">
      <%= button_tag "Send", :id => 'send', :class => 'btn-primary' %>
  </div>
  <div class="fill-width">
    <div class='cnv-compose-short-input'>
    <a id="enable-long-form" class="btn-icon"><i class='icon-edit'></i></a>
    <%= text_area_tag :text, "", :class => 'write', :id => 'write-text' %>
    </div>
  </div>
</div>

<div id="long-form-compose">
  <div class='long-form-window'>
    <%= form_tag write_message_path, :message => 'put' do %>

    <div class='long-form-toolbar btn-toolbar clearfix'>

      <div class='btn-group pull-right'>
        <a id="disable-long-form" class="btn"> Cancel </a>
        <%= submit_tag "Send", :id => 'send-long-form', :class => 'btn btn-primary' %>
      </div>

      <div class='btn-group pull-left'>
        <a class='title-text'><%= @opened_conversation.title %></a>
      </div>

    </div>

    <div class='long-form-contents'>
      <div class='long-form-textarea'>
        <%= text_area_tag :text, "", :id => 'text-long-form', :class =>'write' %>
      </div>
    </div>

    <% end %>
  </div>
</div>
