<div id="short-form-compose" class="clearfix">
  <div id="enable-long-form" class="btn">
    Long
  </div>
  <%= form_tag write_message_path, :method => 'put' do %>
    <div class="pull-right">
      <%= submit_tag "Send", :id => 'send', :class => 'btn btn-primary' %>
    </div>
    <div class="fill-width">
      <%= text_area_tag :text %>
    </div>
  <% end %>
</div>

<div id="long-form-compose">
  <%= form_tag write_message_path, :message => 'put' do %>
    <div class="fill-width">
      <%= text_area_tag :text %>
    </div>
    <%= submit_tag "Send", :class => 'btn btn-primary' %>
  <% end %>
  <div id="disable-long-form" class="btn">
    Short
  </div>
</div>
