<div id="column-conversation">
  <% if @opened_conversation %>
    <div class="conversation-info btn-faint-container">
      <%= form_tag retitle_conversation_path,
                   :method => 'put' do %>
        <%= text_field_tag :title, @opened_conversation.title, :id => nil, :class => "conv-info-title" %>
        <%= submit_tag 'Retitle' %>
      <% end %>
      <%= form_tag update_users_path,
                   :method => 'put',
                   :class => 'participants' do %>
        <%= text_field_tag :users, '', :autocomplete => 'off', :class => "participant-input"%>
        <%= submit_tag 'Change Users' %>
      <% end %>
      <div class="btn-group btn-group-dropdown pull-right conv-menu">
        <a href='#' class="btn btn-faint dropdown-toggle">&#9660;</a>
        <div class="dropdown-menu hidden">
          <span class="menu-title">Conversation</span>
          <ul>
            <li><a href="#">Change Title</a> </li>
            <li><a href="#">Edit Participants</a> </li>
            <li><a href="#">Edit Messages</a> </li>
            <li><a href="#">Move to...</a> </li>
            <li><a href="#">Delete Conversation</a> </li>
          </ul>
        </div>
      </div>
    </div>

    <div id="thread">
      <% @opened_conversation.pieces.each do |piece| %>
        <%= render_conversation_piece piece %>
      <% end %>
    </div>
    <div id="compose" class="clearfix">
      <%= form_tag write_message_path, :method => 'put' do %>
        <div class="pull-right">
          <%= submit_tag "Send", :id => 'send', :class => 'btn btn-primary' %>
        </div>
        <div class="fill-width">
            <%= text_area_tag :text %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
</div>
