<div class="conversation-piece message btn-faint-container">
  <div class="msg-info clearfix">
    <div class="msg-info-group pull-right">
      <a href='#' class="msg-action btn-faint"><i class='icon-star-empty'></i></a>
      <a href='#' class="msg-action btn-faint"><i class='icon-book'></i></a>
      <a href='#' class="msg-action btn-faint"><i class='message-delete icon-trash'></i></a>
      <span class='icon-text msg-time unfilled-timestamp'
            data-timestamp="<%= (piece.timestamp.to_i * 1000).to_s %>"></span>
    </div>

    <div class='msg-info-group pull-left'>
      <span class="msg-sender"><%= piece.user.name %></span>
    </div>
  </div>

  <div class="msg-text"><%= piece.text %></div>

  <div class='hidden'>
    <%= form_tag delete_message_path(@opened_conversation.id),
      :method => 'put',
      :class => 'hidden-form' do %>
    <%= hidden_field_tag :message, piece.message_id %>
    <%= submit_tag 'Delete', :class => 'delete-tag'%>
    <% end %>
  </div>
</div>
