<div id="column-navigation">
  <% current_user.topics.uniq.each do |topic| %>
    <div class="topic <%= 'selected' if topic == @opened_topic %>">
      <a href="<%= topic_path(topic.id) %>">
        <%= topic.name %>
      </a>
    </div>
  <% end %>

  <div class="new-topic">
    <span class="new-topic-edit">New Topic</span>
    <%= form_tag topics_path, :method => 'post' do %>
      <%= text_field_tag :name, '' %>
      <%= submit_tag 'New Topic' %>
    <% end %>
  </div>
</div>
