<div id="column-navigation">
  <div class='btn-toolbar topics-toolbar clearfix'>
    <div class='btn-group pull-right'>
      <a href="#" class="btn-icon topic-new-button">
        <i class="icon-plus"></i>
      </a>
    </div>
  </div>

  <div class='topics'>
    <div class='topics-hint'>Move conversation to...</div>
    <% current_user.topics.uniq.each do |topic| %>
      <div class="topic <%= 'current' if topic == @opened_topic %>"
           data-topic-id="<%= topic.id %>">
        <a href="<%= topic_path(topic.id) %>">
          <%= topic.name %>
        </a>
      </div>
    <% end %>

    <div class="topic-new hidden">
      <%= form_tag topics_path, :class => 'topic-new-from', :method => 'post' do%>
        <%= text_field_tag :name, 'New Topic', :class => 'topic-new-input',  :autocomplete => 'off'%>
        <%= submit_tag 'Create New Topic', :class =>'hidden  topic-new-submit'%>
      <% end %>
    </div>
  </div>

</div>
