<div id="conversation-view">

  <%= render 'conversations/navigation_column' %>
  <div class="divider-vertical column-v">
  </div>

  <div class="divider-vertical column-v"></div>

  <%= render 'conversations/list_column' %>

  <div class="divider-vertical column-v"></div>

  <%= render 'conversations/conversation_column' %>
</div>
<%= javascript_tag do -%>
  <% if @opened_conversation %>
    window.addressBook = <%= user_tokens_json(current_user.address_book) %>;
    window.participants = <%= user_tokens_json(@opened_conversation.participants(current_user)) %>;

    window.new_conversation = <%= @new_conversation.to_s %>;
  <% end %>
<% end -%>
<%= content_for :javascript do -%>
  <%= javascript_tag do %>
    var conversations = <%= @conversations.to_json(:user => current_user,
      :opened_conversation => @opened_conversation).html_safe %>;
    var messages = <%= @opened_conversation ? @opened_conversation.pieces.to_json.html_safe : 'null' %>;
    var opened_conversation_id = <%= @opened_conversation ? @opened_conversation.id : 'null' %>;
    var opened_topic_id = <%= @opened_topic ? @opened_topic.id : 'null' %>;
    var current_user_id = <%= current_user.id %>;
    var data = {
      conversations: conversations,
      messages: messages
    };
    ConversateApp.initialize(data, opened_conversation_id, opened_topic_id, current_user_id);
  <% end %>
<% end -%>
