<div id="conversation-view">

  <%= render 'conversations/navigation_column' %>
  <div class="divider-vertical column-v">
  </div>

  <div class="divider-vertical column-v"></div>

  <%= render 'conversations/list_column' %>

  <div class="divider-vertical column-v"></div>

  <%= render 'conversations/conversation_column' %>
</div>
<%= javascript_tag do -%>
  <% if @opened_conversation %>
    window.addressBook = <%= user_tokens_json(current_user.address_book) %>;
    window.participants = <%= user_tokens_json(@opened_conversation.participants(current_user)) %>;

    window.new_conversation = <%= @new_conversation.to_s %>;
  <% end %>
<% end -%>
<%= content_for :javascript do -%>
  <%= javascript_tag do %>
    var topics = [
      { name: "Conversations", id: 1 },
      { name: "Structural", id: 2 },
      { name: "Chatter", id: 3 }
    ];
    var conversations = [
      { title: "First",
        most_recent_message: 1,
        participants: []
      },
      { title: "Third",
        most_recent_message: 3,
        participants: []
      }
    ];
    var actions = [
      { type: "message",
        user: {
          name: "Ethan Allen",
          id: 2
        },
        timestamp: 1363802638003,
        id: 123,
        text: "This is a message"
      },
      { type: "retitle",
        user: {
          name: "Ethan Allen",
          id: 2
        },
        id: 878,
        timestamp: 1363802638003,
        title: "Conversation Title"
      },
      { type: "deletion",
        user: {
          name: "Ethan Allen",
          id: 2
        },
        id: 788,
        timestamp: 1363802638003,
        action_id: 123
      }
    ];
    var conversation = {
      name: "Conversation",
      id: 1,
      topic_id: 15
    };
    var participants = [
      { name: "Sharon Jones",
        id: 1
      },
      { name: "The Dap Kings",
        id: 2
      }
    ];
    var user = { full_name: "Jack Kennedy" };

    var bootstrap = {
      topics: topics,
      conversations: conversations,
      actions: actions,
      participants: participants,
      conversation: conversation,
      user: user
    };

    Structural.start(bootstrap);
  <% end %>
<% end -%>
