<div id="conversation-view">
  <div id="column-navigation">
  </div>
  <div class="divider-vertical column-v">
  </div>
  <div id="column-list">
    <% @conversations.each do |conversation| %>
      <div class="<%= list_item_classes(conversation, @opened_conversation, current_user) %>">
        <a href="<%= conversation_path conversation.id %>">
          <div class="list-title"><%= conversation.title %></div>
          <div class="list-participants"><%= conversation.participants %></div>
        </a>
      </div>
      <div class="list-divider"></div>
    <% end %>
  </div>
  <div class="divider-vertical column-v">
  </div>
  <div id="column-conversation">
    <% if @opened_conversation %>
      <div class="title">
        <span class="text"><%= @opened_conversation.title %></span>
        <%= form_tag retitle_conversation_path, :method => 'put' do %>
          <%= text_field_tag :title, @opened_conversation.title %>
          <%= submit_tag "Retitle" %>
        <% end %>
      </div>
      <div id="thread">
        <% @opened_conversation.pieces.each do |piece| %>
          <% if piece.type == :message %>
            <div class="conversation-piece message">
              <div class="message-info"><%= piece.user.name %></div>
              <span class="message-text"><%= piece.text %></span>
              <div class="message-actions">
                <%= form_tag delete_message_path(@opened_conversation.id),
                             :method => 'put',
                             :id => "form-delete-#{piece.message_id}" do %>
                  <%= hidden_field_tag :message, piece.message_id %>
                  <%= submit_tag "Delete", :class => 'pull-right' %>
                <% end %>
              </div>
            </div>
          <% elsif piece.type == :retitle %>
            <div class="conversation-piece retitle">
              <%= piece.user.name %> titled the conversation "<%= piece.title %>"
            </div>
          <% elsif piece.type == :deletion %>
            <div class="conversation-piece deletion">
              <%= piece.user.name %> deleted a message
            </div>
          <% end %>
        <% end %>
      </div>
      <div id="compose" class="clearfix">
          <div class="pull-right">
            <%= submit_tag "Send", :id => 'send'%>
          </div>
          <div class="fill-width">
            <%= form_tag write_message_path, :class => 'text-button', :method => 'put' do %>
              <%= text_area_tag :text %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
