<div class="row">
  <div class="span12 conversation-title">
    <h1><%= @conversation.subject %></h1>
  </div>
</div>
<% @conversation.pieces.each do |piece| %>
  <div class="row">
    <div class="span12">
      <% if piece.type == :message %>
        <div class="conversation-piece conversation-piece-message">
          <span class="byline">
            <%= piece.user.name %> wrote at <%= piece.timestamp %>:
          </span>
          <span class="text"><%= piece.text %></span>
          <%= form_tag delete_message_path(@conversation.id),
                       :method => 'put',
                       :id => "form-delete-#{piece.message_id}" do %>
            <%= hidden_field_tag :message, piece.message_id %>
          <% end %>
          <div class="delete-message" data-delete-target="form-delete-<%= piece.message_id %>">
            <a href="#">
              <i class="icon-trash"></i>
            </a>
          </div>
        </div>
      <% elsif piece.type == :deletion %>
        <div class="conversation-piece conversation-piece-deletion">
          <span>
            <%= piece.user.name %> deleted a message
          </span>
        </div>
      <% elsif piece.type == :retitle %>
        <div class="conversation-piece conversation-piece-retitle">
          <span>
            <%= piece.user.name %> titled the conversation "<%= piece.title %>"
          </span>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
<div class="row">
  <div class="span4 offset4">
    <%= form_tag retitle_conversation_path, :method => 'put' do %>
      <%= label_tag :subject %>
      <%= text_field_tag :subject %>
      <%= submit_tag "Set subject", :class => 'btn' %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="span4 offset4">
    <%= form_tag write_message_path, :method => 'put' do %>
      <%= label_tag :text %>
      <%= text_area_tag :text %>
      <%= submit_tag "Write message", :class => 'btn' %>
    <% end %>
  </div>
</div>
