<div class="admin-page">
  <h3>Database Usage</h3>
  <table>
    <thead>
      <tr>
        <td>Table</td>
        <td>Row Count</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Conversations</td>
        <td><%= Conversation.all.count %></td>
      </tr>
      <tr>
        <td>Actions</td>
        <td><%= Action.all.count %></td>
      </tr>
      <tr>
        <td>Reading Logs</td>
        <td><%= ReadingLog.all.count %></td>
      </tr>
      <tr>
        <td>Users</td>
        <td><%= User.all.count %></td>
      </tr>
      <tr>
        <td>Total</td>
        <td><%= Conversation.all.count +
                Action.all.count +
                ReadingLog.all.count +
                User.all.count %></td>
    </tbody>
  </table>

  <h3>Invitations</h3>
  <table>
    <thead>
      <tr>
        <td>User</td>
        <td>Invite Count</td>
      </tr>
    </thead>
    <tbody>
      <% User.where(:site_admin => true).each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td>
            <%= User.where(:invited_by => user.id).count %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
