<%= render 'shared/hacky_top_bar' %>

<div class="admin-page ui-scrollable">
  <div class='admin-links'>
    <div class="btn-toolbar">
      <div class="btn-group">
        <span class="toolbar-title">Helpful Links</span>
      </div>
    </div>

    <div>
      <ul><li>
        <a href="https://dashboard.heroku.com/apps/water-cooler/activity">Heroku deployment history</a>
      </li><li>
        <a href="https://github.com/nwmartin/conversate">Github repository</a>
      </li></ul>
    </div>
  </div>

  <div class="beta-referrers-table">
    <div class="btn-toolbar">
      <div class="btn-group">
        <span class="toolbar-title">Beta Referrer Stats (Total: <%= @referrers.values.sum %>)</span>
      </div>
    </div>
    <table>
      <thead>
        <tr>
          <td>Referrer</td>
          <td>Count</td>
        </tr>
      </thead>
      <tbody>
        <% @referrers.each do |referrer, count| %>
          <tr>
            <td><%= referrer %></td>
            <td><%= count %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="beta-signups-table">
    <% if flash[:promotion_status] == :success %>
      <div class="login-status-message">
        User promoted
      </div>
    <% elsif flash[:promotion_status] == :failure %>
      <div class="login-error-message">
        User could not be promoted
      </div>
    <% end %>

    <div class="btn-toolbar">
      <div class="btn-group">
        <span class="toolbar-title">Beta Signups (Total: <%= BetaSignup.all.count %>)</span>
      </div>
    </div>

    <table>
      <thead>
        <tr>
          <td>Email</td>
          <td>Referrer</td>
          <td></td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <% BetaSignup.all.each do |signup| %>
          <tr>
            <td><%= signup.email %></td>
            <td><%= signup.referrer %></td>
            <td>
              <%= form_tag promotion_path(signup.id) do %>
                <%= submit_tag 'Promote', class: 'btn-primary' %>
              <% end %>
            </td>
            <td>
              <%= form_tag remove_from_beta_path(signup.id) do %>
                <%= submit_tag 'Remove', class: 'btn' %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="admin-table">
    <div class="btn-toolbar">
      <div class="btn-group">
        <span class="toolbar-title">Database Usage</span>
      </div>
    </div>
    <table>
      <thead>
        <tr>
          <td>Table</td>
          <td>Row Count</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Table temporarily removed for perf reasons.</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="admin-table is-full-width">
    <div class="btn-toolbar">
      <div class="btn-group">
        <span class="toolbar-title">Health Checks</span>
      </div>
    </div>
    <table>
      <thead>
        <tr>
          <td>Model</td>
          <td>Failed Test</td>
          <td>Notes</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Table temporarily removed for perf reasons</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="admin-table">
    <div class="btn-toolbar">
      <div class="btn-group">
        <span class="toolbar-title">Health Check List</span>
      </div>
    </div>
    <table>
      <thead>
        <tr>
          <td>Name</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Table temporarily removed for perf reasons</td>
        </tr>
      </tbody>
  </div>
</div>
