<%= render 'shared/hacky_top_bar' %>

<div class="admin-page">
  <div class='admin-links'>

    <div class="btn-toolbar">
      <div class="btn-group">
        <span class="toolbar-title">Helpful Links</span>
      </div>
    </div>

    <div>
      <ul><li>
        <a href="https://dashboard.heroku.com/apps/water-cooler/activity">Heroku deployment history</a>
      </li><li>
        <a href="https://github.com/nwmartin/conversate">Github repository</a>
      </li></ul>
    </div>
  </div>
  <div class="admin-table">
    <div class="btn-toolbar">
      <div class="btn-group">
        <span class="toolbar-title">Database Usage</span>
      </div>
    </div>
    <table>
      <thead>
        <tr>
          <td>Table</td>
          <td>Row Count</td>
        </tr>
      </thead>
      <tbody>
        <% all_database_models.each do |model| %>
          <tr>
            <td><%= model.name %></td>
            <td><%= model.count %></td>
          </tr>
        <% end %>
        <tr>
          <td>Total</td>
          <td><%= all_database_models.collect {|m| m.count }.sum %></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="admin-table">
    <div class="btn-toolbar">
      <div class="btn-group">
        <span class="toolbar-title">Health Checks</span>
      </div>
    </div>
    <table>
      <thead>
        <tr>
          <td>Model</td>
          <td>Failed Test</td>
          <td>Notes</td>
        </tr>
      </thead>
      <tbody>
        <% failed_health_tests.each do |test| %>
          <tr>
            <td><%= test[:model].debug_s %></td>
            <td><%= test_s(test[:test]) %></td>
            <td><%= test[:notes] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="admin-table">
    <div class="btn-toolbar">
      <div class="btn-group">
        <span class="toolbar-title">Health Check List</span>
      </div>
    </div>
    <table>
      <thead>
        <tr>
          <td>Name</td>
        </tr>
      </thead>
      <tbody>
        <% health_tests.each do |test| %>
          <tr>
            <td><%= test_s(test, true) %></td>
          </tr>
        <% end %>
      </tbody>
  </div>
</div>
