<%= render 'shared/hacky_top_bar' %>

<% unless @removed_users_with_more_groups.empty? %>
<div class="modal-background">
  <div class="modal-message">
    <h4>We couldn't automatically remove some users.</h4>
    <p>
      The following users were in more than one group, so we couldn't clean up all
      their data correctly.
    <p>
    <ul>
      <% @removed_users_with_more_groups.each do |u| %>
        <li><%= u.name %></li>
      <% end %>
    </ul>
    <p>
      They're not part of your group anymore, but they still have access to some
      of your conversations.  If you contact us with the list of topics they
      should be removed from, we'll take care of the rest.
    </p>
    <a href="#" class="btn btn-primary modal-message-dismiss">OK</a>
  </div>
</div>
<% end %>

<div class="grp-page">
  <% current_user.groups.each do |group| %>
    <div class="grp">
      <div class='btn-toolbar clearfix'>
        <div class='btn-group pull-left'>
          <span class="grp-name "><%= group.name %></span>
        </div>
        <% if current_user.group_admin?(group) %>
        <div class='btn-group pull-right'>
          <a href="#" class="grp-new-user-trigger btn">New User</a>
        </div>
        <% end %>
      </div>
      <%= form_tag people_path, method: 'put' do %>
        <table>
          <thead>
            <tr>
              <td>Name</td>
              <td>Email Address</td>
              <td>Admin</td>
              <% if current_user.group_admin?(group) %>
                <td>Remove</td>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% group.users.each do |user| %>
              <tr>
                <td><%= user.full_name %></td>
                <td><%= user.email %></td>
                <td>
                  <%= check_box_tag 'admin[]', user.id, user.group_admin?(group),
                                    disabled: !current_user.group_admin?(group) %>
                </td>
                <% if current_user.group_admin?(group) %>
                  <td>
                    <%= check_box_tag 'remove[]', user.id, false %>
                  </td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
        <% if current_user.group_admin?(group) %>
          <div class='btn-toolbar-below grb-bar clearfix'>
            <div class='btn-group pull-right'>
              <%= hidden_field_tag 'group', group.id %>
              <%= submit_tag 'Save', class: 'btn-primary' %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
