<%= render 'shared/hacky_top_bar' %>
<div class='profile-page ui-scrollable'>
  <div class='profile-update-form'>
    <div class='btn-toolbar'>
      <div class='btn-group pull-left'>
        <span class='toolbar-title'>User Profile Information</span>
      </div>
    </div>
    <%= form_tag users_path, :method => 'put' do %>
      <div class='form'>
        <% if @edit_status == :failure %>
          <div class="error-messages">
            <span>Something went wrong...</span>
          </div>
          <% elsif @edit_status == :success %>
          <div class="success-messages">
            <span>Profile information successfully updated</span>
          </div>
        <% end %>
        <%= label_tag :password do %>
          Original password
        <% end %>
        <%= password_field_tag :password %>
        <%= label_tag :new_password do %>
          New password (optional)
        <% end %>
        <%= password_field_tag :new_password %>
        <%= label_tag :new_password_confirmation %>
        <%= password_field_tag :new_password_confirmation %>
        <%= label_tag :full_name %>
        <%= text_field_tag :full_name, @user.full_name %>
        <% if @user.site_admin %>
          <%= check_box_tag :send_me_mail, 'yes', @user.send_me_mail %>
          <%= label_tag :send_me_mail %>
        <% end %>
      </div>
      <div class='btn-toolbar-below'>
        <div class='btn-group pull-right'>
          <%= submit_tag "Update", :class => "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
