<%= render 'shared/hacky_top_bar' %>
<div class='profile-page ui-scrollable'>
  <div class='profile-update-form'>

    <% if @edit_status == :failure %>
      <div class="error-messages">
        <span>Problem updating profile information</span>
      </div>
    <% elsif @edit_status == :success %>
      <div class="success-messages">
        <span>Profile information successfully updated</span>
      </div>
    <% end %>

    <div class='btn-toolbar'>
      <div class='btn-group pull-left'>
        <span class='toolbar-title'>Change your name</span>
      </div>
    </div>
    <%= form_tag profile_path, :method => 'put' do %>
      <div class="form">
        <%= label_tag :full_name %>
        <%= text_field_tag :full_name, @user.full_name %>
      </div>
      <div class="btn-toolbar-below">
        <div class="btn-group pull-right">
          <%= submit_tag 'Update', :class => 'btn btn-primary' %>
        </div>
      </div>
    <% end %>

    <div class='btn-toolbar'>
      <div class='btn-group pull-left'>
        <span class='toolbar-title'>Change your password</span>
      </div>
    </div>
    <%= form_tag profile_path, :method => 'put' do %>
      <div class="form">
        <%= label_tag :password do %>Original password<% end %>
        <%= password_field_tag :password %>
        <%= label_tag :new_password %>
        <%= password_field_tag :new_password %>
        <%= label_tag :new_password_confirmation %>
        <%= password_field_tag :new_password_confirmation %>
      </div>
      <div class="btn-toolbar-below">
        <div class="btn-group pull-right">
          <%= submit_tag 'Update', :class => 'btn btn-primary' %>
        </div>
      </div>
    <% end %>

    <div class='btn-toolbar'>
      <div class='btn-group pull-left'>
        <span class='toolbar-title'>Send email to <%= @user.email %></span>
      </div>
    </div>
    <%= form_tag profile_path, :method => 'put' do %>
      <div class="form">
        <%= radio_button_tag :email_setting, 'always', @user.email_setting == 'always' %>
        <%= label_tag :email_setting_always, 'Every time someone writes a message in one of my conversations' %>
        <br />
        <%= radio_button_tag :email_setting, 'daily', @user.email_setting == 'daily' %>
        <%= label_tag :email_setting_daily, 'A daily summary of activity on my conversations' %>
        <br />
        <%= radio_button_tag :email_setting, 'never', @user.email_setting == 'never' %>
        <%= label_tag :email_setting_never, 'Never.  Never ever.' %>
      </div>
      <div class="btn-toolbar-below">
        <div class="btn-group pull-right">
          <%= submit_tag 'Update', :class => 'btn btn-primary' %>
        </div>
      </div>
    <% end %>

  </div>
</div>
