<div class='form'>
      <h1> Update yo' info, fool</h1>

    <%= form_tag users_path, :method => 'put' do %>
      <% if @edit_status == :failure %>
        <div class="error-messages">
          <h3>You fucked up</h3>
        </div>
      <% elsif @edit_status == :success %>
        <div class="success-messages">
          <h3>Edit successful</h3>
        </div>
      <% end %>
      <%= label_tag :password do %>
        Original password
      <% end %>
      <%= password_field_tag :password %>
      <%= label_tag :new_password do %>
        New password (optional)
      <% end %>
      <%= password_field_tag :new_password %>
      <%= label_tag :new_password_confirmation %>
      <%= password_field_tag :new_password_confirmation %>
      <%= label_tag :full_name %>
      <%= text_field_tag :full_name, @user.full_name %>
      <%= submit_tag "Update", :class => "btn" %>
    <% end %>
</div>