<div class="form signup-form">
  <%= form_for @user do |f| %>
    <% if @user.errors.any? %>
      <div class="error-messages">
        <h3>You fucked up</h3>
        <ul>
          <% for message in @user.errors.full_messages %>
            <li><%= message %></li>
          <% end %>
      </div>
    <% end %>
    <%= f.label :email %>
    <%= f.email_field :email %>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
    <%= f.submit :class => 'btn btn-primary' %>
  <% end %>
</div>
