<div class="row">
  <div class="span12">
    <h1>
      Sign your ass up
    </h1>
  </div>
</div>
<div class="row">
  <div class="span4 offset4">
    <%= form_for @user do |f| %>
      <% if @user.errors.any? %>
        <div class="error-messages">
          <h3>You fucked up</h3>
          <ul>
            <% for message in @user.errors.full_messages %>
              <li><%= message %></li>
            <% end %>
        </div>
      <% end %>
      <%= f.label :email %>
      <%= f.email_field :email %>
      <%= f.label :password %>
      <%= f.password_field :password %>
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
      <%= f.submit :class => 'btn' %>
    <% end %>
  </div>
</div>
