<header class='info-header'>
  <div class='nav clearfix'>

    <div class='nav-group left'>
      <a href="<%= root_path %>" class='logo-link'>
        <%= image_tag("watercooler.png", :class => 'logo-image') %>
        <span class='logo-text'> Water Cooler</a>
    </div>

    <div class="nav-group right nav-items">
      <a href="<%= root_path %>" class='nav-item'>Home</a>
      <a href="<%= tour_path %>" class='nav-item <%= active_on_path tour_path %>'>Tour</a>
      <a href="<%= about_path %>" class='nav-item'>About</a>
      <a href="#" class='nav-item'>Sign-In</a>
    </div>

  </div>
</header>
