 <header>
  <div class='nav clearfix'>
    <div class='btn-group pull-left'>
      <a href="<%= marketing_path %>" class='nav-item <%= active_on_path marketing_path %>'>Water Cooler</a>
      <a href="<%= tour_path %>" class='nav-item <%= active_on_path tour_path %>'>Tour</a>
      <a href="<%= pricing_path %>" class='nav-item <%= active_on_path pricing_path %>'>Pricing</a>
    </div>
  </div>
</header>
