
<header>
  <div class='nav clearfix'>
    <div class='btn-group pull-left'>
      <a href="<%= root_path %>" class='nav-item'>Water Cooler</a>
    </div>

    <div class="btn-group pull-right">
      <a href="<%= tour_path %>"
         class="nav-item nav-item-toggle">
        Tour
      </a>
    </div>
  </div>
</header>

<div class="home-main main">
  <div class="login-form">
    <div class='btn-toolbar'>
      <span class='toolbar-title'>Welcome to Water Cooler</span>
    </div>
    <%= form_tag session_path, :class => '' do %>
      <div class='form modal-content'>
        <% if flash[:alert] %>
        <div class='login-error-message'><%= flash[:alert]%></div>
        <% end %>
        <% if flash[:notice] %>
        <div class='login-notice-message'><%= flash[:notice]%></div>
        <% end %>
        <%= label_tag :email, 'Email' %>
        <%= email_field_tag :email, params[:email] %>
        <%= label_tag :password, 'Password' %>
        <%= password_field_tag :password, nil %>
        <%= link_to 'Reset Password', new_password_reset_path, :class => 'login-reset-link' %>
        <%= check_box_tag :remember_me, true, false %>
        <%= label_tag :remember_me, 'Remember me' %>
      </div>
      <div class='btn-toolbar-below clearfix'>
      <div class='btn-group pull-right'>
        <%= submit_tag 'Sign In', :class => 'btn-primary' %>
      </div>
    </div>
    <% end %>
  </div>
</div>
