<div class='beta-signin-3'>
  <%= content_for :javascript do -%>
  $('.beta-signin-3 .toggle').click(function(e) {
    $('.beta-sign-in-form').toggleClass('hidden');
  });
  <% end -%>

  <div class='beta-signin-3-inner'>
    <span class='toggle'>Sign in</span>

    <div class="beta-sign-in-form hidden">
      <%= form_tag session_path, :class => '' do %>
      <div class='beta-sign-in-content'>
        <% if flash[:alert] %>
        <div class='login-error-message'><%= flash[:alert]%></div>
        <% end %>
        <% if flash[:notice] %>
        <div class='login-notice-message'><%= flash[:notice]%></div>
        <% end %>
        <%= label_tag :email, 'Email' %>
        <%= email_field_tag :email, params[:email] %>
        <%= label_tag :password, 'Password' %>
        <%= password_field_tag :password, nil %>
        <%= check_box_tag :remember_me, true, false %>
        <%= label_tag :remember_me, 'Remember me' %>
        <%= link_to 'Reset Password', new_password_reset_path, :class => 'beta-sign-in-reset-password-link' %>
      </div>
      <div class='beta-sign-in-toolbar-bottom'>
        <%= submit_tag 'Sign In', :class => 'beta-sign-in-button' %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<div class='marketing-page-2'>
  <div class='jumbo outer'>
    <div class='jumbo inner'>
      <div class='title'>Water Cooler</div>
      <div class='sub-title'>Group discussions, hassle-free</div>
      <div class='jumbo-signup-box'>
        <%= render 'signup_form' %>
      </div>
    </div>
  </div>
  <div class='section outer'>
    <div class='section inner'>
      <div class='heading'>Water Cooler is for <span class='keyword'>discussions</span></div>

      <div class='list-leader'>You can discuss: </div>
      <ul>
        <li>School projects with your groups</li>
        <li>Hobbies with your buddies</li>
        <li>Project coordination with your coworkers</li>
        <li>Or just about anything with your friends</li>
      </ul>
    </div>
  </div>



  <div class='section outer'>
    <div class='section inner'>
      <div class='heading'>Discussions should be <span class='keyword'>reliable</span></div>

      <p>If you end up missing important messages, can’t search your archive, or you’re always worried about hitting the wrong reply button, then you can’t really trust your tools.</p>

      <div class='list-leader'>In Water Cooler you can’t: </div>
      <ul>
        <li>Accidentally hit reply vs. reply-all</li>
        <li>Forget to include someone</li>
        <li>Fall into unending reply-all chains</li>
        <li>Be stuck with unhelpful subject lines</li>
      </ul>
      <div class='list-leader'>Because instead, you can:</div>
      <ul>
        <li>Fix the subject line after you sent a message.</li>
        <li>Add people to a discussion at any time</li>
        <li>Remove yourself from a discussion as needed.</li>
      </ul>
    </div>
  </div>

  <div class='section outer'>
    <div class='section inner'>
      <div class='heading'>Water Cooler is for <span class='keyword'>quick chats</span></div>

      <p>Inspiration is fleeting and good ideas need to be heard.</p>


      <div class='list-leader'>For quick messages:</div>
      <ul>
        <li>Just type and hit enter to send a quick reply</li>
        <li>Drop in image links and have them appear inline.</li>
        <li>Keep a few conversations around as rolling “Lobby” spaces for general chatter.</li>
      </ul>
    </div>
  </div>

  <div class='section outer'>
    <div class='section inner'>

      <div class='heading'> And also <span class='keyword'>big ideas</span></div>

      <p>Some thoughts take five paragraphs.   Not everything fits into a one line chat message or needs to be acted on immediately.  Big ideas work just as well in Water Cooler.</p>

      <div class='list-leader'>When you’ve got a big idea, you can:</div>
      <ul>
        <li>Compose big multi paragraph messages</li>
        <li>Start a new thread just as easily</li>
        <li>Retitle and update that thread as your big idea evolves</li>
      </ul>
    </div>
  </div>

  <div class='section outer'>
    <div class='section inner'>

      <div class='heading'>Big ideas need <span class='keyword'>organization</span></div>

      <p>If you're anything like us, you probably don't realize you're onto something big until you're hip deep in it.  Instead of forcing you to organize each project before you start it, Water Cooler lets structure emerge along with your ideas</p>

      <div class='list-leader'>You can easily:</div>
      <ul>
        <li>File threads into folders based on their context</li>
        <li>Pin important conversations and archive old ones.</li>
        <li>Optionally share folders with teammates</li>
        <li>Search through old threads</li>
      </ul>
    </div>
  </div>

  <div class='section outer'>
    <div class='section inner'>

      <div class='heading'>Most of all, technology needs to be <span class='keyword'>forgiving</span></div>

      <p>In theory, email works fine if everyone gets it right the first time.  But last time we checked, no one one the Water Cooler team was infallible, and we bet you and your coworkers and friends aren’t either.  Tools that don't help you when you make a mistake set you up to fail.</p>

      <div class='list-leader'>How familiar do these sound?</div>
      <ul>
        <li>Been looped in late on an email chain
        <div class='note'>Read 25 reverse chronological, repeatedly indented messages to figure out what’s up.</div>
        </li>
        <li>Forget a subject line
          <div class='note'>This thread will be called “Re:        ”  forever.</div>
        </li>
        <li>Get stuck on a reply-all email chain
          <div class='note'>Send even more emails asking someone to take you off.</div>
        </li>
        <li>Forget someone on a group text
        <div class='note'>Start a new thread, but it's entirely disconnected from the old one.</div>
        </li>
        <li>Find a typo right after you send a giant message
        <div class='note'>Moral quandary:  Send a revision or let it fly and hope for the best?</div>
        </li>
      </ul>

      <p>Little errors add up to affect your productivity, but the we believe that the bigger impact is on your own confidence.   Making a dumb error, especially one you can’t go back and fix, makes you feel dumb, and whenever you feel dumb you definitely aren’t working to your full potential.  New technology often just allows us to make more mistakes faster.  Water Cooler embraces you in all your flawed glory and has tools to help fix your mistakes, so you can just get back to work.</p>
    </div>
  </div>
  <div class='section outer'>
    <div class='section inner'>

      <%= render 'signup_form' %>
    </div>
  </div>
</div>
