

<div class="info-page-home">

  <div class="home-main main">

  <div class='info-main-description'>
    <div class='info-main-description-content'>

      <p>Collaborate your way without the hassle of email</p>
      <ul>
        <li>Chat with only the colleagues you [need to hear], not blasting everyone with reply all</li>
        <li>See your most important unread [messages], but grouped by the topic that they [matter to]</li>
        <li>Share your topics and conversations in a sane way</li>
        <li>Organize how it makes sense to you, emergent organizations</li>
      </ul>



    </div>

    <div class='info-main-description-content info-main-beta-signup'>
      <p>BETA SIGNUP BOX GOES HERE</p>
    </div>
  </div>

  <div class='info-main-description info-main-pricing'>
    <div class='info-main-description-content'>

      <p>Pricing</p>

      <div class="pricing-main">
        <div class="pricing-block">
            <p class="pricing-block-title">Basic</p>
            <p>Free for a single individual</p>
        </div>
        <div class="pricing-block">
          <p class="pricing-block-title">Freelancer</p>
          <p>Adds premium features</p>
        </div>
        <div class="pricing-block">
          <p class="pricing-block-title">Enterprise</p>
          <p>Call us</p>
          <p>Security</p>
          <p>Organizations</p>
        </div>
      </div>

    </div>
  </div>

  <div class="login-form">
      <div class='btn-toolbar'>
        <span class='toolbar-title'>Sign In to Water Cooler</span>
      </div>
      <%= form_tag session_path, :class => '' do %>
      <div class='form modal-content'>
        <% if flash[:alert] %>
        <div class='login-error-message'><%= flash[:alert]%></div>
        <% end %>
        <% if flash[:notice] %>
        <div class='login-notice-message'><%= flash[:notice]%></div>
        <% end %>
        <%= label_tag :email, 'Email' %>
        <%= email_field_tag :email, params[:email] %>
        <%= label_tag :password, 'Password' %>
        <%= password_field_tag :password, nil %>
        <%= link_to 'Reset Password', new_password_reset_path, :class => 'login-reset-link' %>
        <%= check_box_tag :remember_me, true, false %>
        <%= label_tag :remember_me, 'Remember me' %>
      </div>
      <div class='btn-toolbar-below clearfix'>
        <div class='btn-group pull-right'>
          <%= submit_tag 'Sign In', :class => 'btn-primary' %>
        </div>
      </div>
      <% end %>
    </div>
  </div>


</div>




