<div class="info-page info-page-home ui-scrollable">

  <%=render "shared/header" %>

  <div class="home-main main">

    <div class="login-form">
      <div class='btn-toolbar'>
        <span class='toolbar-title'>Sign In to Water Cooler</span>
      </div>
      <%= form_tag session_path, :class => '' do %>
      <div class='form modal-content'>
        <% if flash[:alert] %>
        <div class='login-error-message'><%= flash[:alert]%></div>
        <% end %>
        <% if flash[:notice] %>
        <div class='login-notice-message'><%= flash[:notice]%></div>
        <% end %>
        <%= label_tag :email, 'Email' %>
        <%= email_field_tag :email, params[:email] %>
        <%= label_tag :password, 'Password' %>
        <%= password_field_tag :password, nil %>
        <%= link_to 'Reset Password', new_password_reset_path, :class => 'login-reset-link' %>
        <%= check_box_tag :remember_me, true, false %>
        <%= label_tag :remember_me, 'Remember me' %>
      </div>
      <div class='btn-toolbar-below clearfix'>
        <div class='btn-group pull-right'>
          <%= submit_tag 'Sign In', :class => 'btn-primary' %>
        </div>
      </div>
      <% end %>
    </div>
  </div>

  <div class='info-main-description'>
    <div class='info-main-description-content'>

      <p>Water Cooler is an app built to make group discussions suck less.  </p>

      <p>We are currently in private beta.  </p>

      <p>If you're interested in checking it out,
        hit us up at <a href="mailto:structural@structur.al">structural@structur.al</a>.   </p>

    </div>
  </div>
</div>

<%=render "shared/footer" %>
