<div class="info-page-home">
  <div class="home-main main">

  <%= content_for :javascript do -%>
    $('.beta-sign-in-toggle').click(function(e) {
      $('.beta-sign-in-form').toggleClass('hidden');
    });
  <% end -%>

  <div class="main-top-toolbar">
    <div class='main-top-toolbar-inner'>
      <span class='home-link'>Water Cooler</span>
      <span class='home-link'>About the Team</span>
      <span class='beta-sign-in-toggle'>Sign in</span>

    <div class="beta-sign-in-form hidden">
      <%= form_tag session_path, :class => '' do %>
        <div class='beta-sign-in-content'>
          <% if flash[:alert] %>
          <div class='login-error-message'><%= flash[:alert]%></div>
          <% end %>
          <% if flash[:notice] %>
          <div class='login-notice-message'><%= flash[:notice]%></div>
          <% end %>
          <%= label_tag :email, 'Email' %>
          <%= email_field_tag :email, params[:email] %>
          <%= label_tag :password, 'Password' %>
          <%= password_field_tag :password, nil %>
          <%= check_box_tag :remember_me, true, false %>
          <%= label_tag :remember_me, 'Remember me' %>
          <%= link_to 'Reset Password', new_password_reset_path, :class => 'beta-sign-in-reset-password-link' %>
        </div>
        <div class='beta-sign-in-toolbar-bottom'>
          <%= submit_tag 'Sign In', :class => 'beta-sign-in-button' %>
        </div>
        <% end %>
      </div>
    </div>
  </div>


    <div class='info-main-description-content jumbo-tron'>
      <h1>Collaborate Your Way</h1>
      <h2>Organize your conversations the way you want.  Get your team communicating sensibly and hassle-free.</h2>
      <%= render 'signup_form' %>
    </div>
  </div>

  <div class="info-main-description info-main-description-explain">
    <div class="info-main-description-content">
      <ul>
        <li>
          <p>
            Chat with only the colleagues you need to without having to blast
            everyone with reply all.  Water Cooler lets you have a conversation
            with just the people who need to be in it, but still keep everyone
            else in the loop.  Gone are the days of your inbox filling up with
            everyone else's business.
          </p>
          <img src="http://www.placehold.it/300x300" />
        </li>
        <li>
          <img src="http://www.placehold.it/300x300" />
          <p>
            Group your conversations however they matter to you.  Organize
            by team, by topic, by client or by whatever lets you get your work
            done.  Heck, put your conversations in more than one folder if
            that's your thing.
          </p>
        </li>
        <li>
          <p>
            None of us work in a vacuum. Share Water Cooler folders with your
            team to keep everyone on the same page.  Everyone can read every
            conversation in a shared folder, even if they aren't chatting in
            it.  Come back from vacation and skim the record of what happened,
            or keep up to date on what your team is doing, all without the deluge
            of unread messages in your inbox.
          </p>
          <img src="http://www.placehold.it/300x300" />
        </li>
        <li>
          <img src="http://www.placehold.it/300x300" />
          <p>
            Your Water Cooler account is your own. Join as many different ad hoc organizations as you
            need to get your work done. These organizations are no more than what conversations and topics
            you've joined to communicate what you need to.
          </p>
        </li>
        <li>
          <p>
            Never get stuck on an endless reply-all thread again.  You can
            remove yourself from any Water Cooler conversation without
            disrupting anyone else's chatter.  Take yourself off as soon as it's
            not relevant to you, and you never have to see it again.  Aaah,
            bliss.
          </p>
          <img src="http://www.placehold.it/300x300" />
        </li>
      </ul>

      <%= render 'signup_form' %>
    </div>
  </div>

  <div class='info-main-description'>
    <div class='info-main-description-content info-main-pricing'>

      <h1>Pricing</h1>
      <div class='pricing-table'>
        <div class="pricing-main">
          <div class='pricing-cell'>
            <div class="pricing-cell-content">
              <p class="pricing-block-title">Basic</p>
              <p>Free for a single individual</p>
              <p>Unlimited conversations</p>
              <p>Unlimited contacts</p>
              <p>Up to X folders</p>
            </div>
          </div>
          <div class='pricing-cell'>
            <div class="pricing-cell-content">
              <p class="pricing-block-title">Freelancer</p>
              <p>$4/mo</p>
              <p>Archive old conversations</p>
              <p>Leave conversations[?]</p>
              <p>Create shared folders</p>
            </div>
          </div>
          <div class='pricing-cell'>
            <div class="pricing-cell-content">
              <p class="pricing-block-title">Enterprise</p>
              <p>Call us</p>
              <p>Security</p>
              <p>Organizations</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>




