<%=render "shared/header" %>

<div class='page-wrapper marketing'>

<div class="main">
  <div class="hero">
<!--     <img src="http://placehold.it/533x300&text=screenshot">
 -->
    <h1>Water Cooler</h1>
    <h2>Communicate and Collaborate Better Than Ever</h2>
    <p>Water Cooler is everything you love about email, instant
messaging and other collaboration programs—all in one flexible, easy-to-use tool. </p>
    <a href="#" class='hero-sign-up-button btn-primary'>Sign Up</a>
  </div>
</div>
<div class="copy-wrapper">
  <ul class='copy clearfix'>
    <li class='clearfix'>
  <h4>Better Control of Your Communications</h4>
  <p>Put an end to email chains that get branched off and lost, IM conversations that can’t be shared, off-topic conversations cluttering up your work queue and other all-too-common communication killers. Water cooler makes conversations sleek, simple and flexible.</p>
<!--   <p>Read more about <a href="<%= tour_path %>#stress-free">Stress Free* Communication</a></p>
 --></li>

<li class='clearfix'>
  <h4>Web-Native Design</h4>
  <p>Water Cooler was built to work with the internet, not just on it. You can access the site from any browser, send links to conversations and manage messages and conversations with drag-and-drop simplicity.
    (And a whole lot more.)
  </p>
  <!-- <p>More on <a href="<%= tour_path %>#web-native">Web Native Data.</a></p> -->
 </li>
 <li class='clearfix'>
  <h4>Designed Specifically for Team Collaboration</h4>
  <p>Email and instant message work great for one-on-one
conversations. But when you need to loop other people in and share a history of the topic, both email and IM are cumbersome and frustrating. Water Cooler was built by a team, specifically for teams. </p>
<!--   <p>See how Water Cooler can <a href="<%= tour_path %>#teams">work for your team.</a></p>
 -->
</li>

<li class='clearfix'>

  <h4>Easy Control of Access to Messages and Conversations</h4>
  <p>As conversations change, so do the eyes that need to see them. Keep sensitive messages private or give a dozen people access to a whole conversation. Water Cooler privacy levels are flexible, easy to implement and easy to change.
  </p>
<!--   <p><a href="<%= tour_path %>#privacy">Never cc: the wrong person again</a></p>
 --></li>
</ul>
</div>

<%=render "shared/footer" %>

</div>
