<!-- TODO: Figure out how we're getting info from the router
     to set the selected classes on our navigation buttons. -->

<div class="tabs stb-group pull-left">
  <a href="<%= Structural.Router.indexHref() %>" class="stb-link stb-selected">
    <i class="stb-icon fa fa-comment"></i>
    <span class="stb-link-text">Water Cooler</span>
  </a>

  <a href="<%= Structural.Router.peopleHref() %>" class="stb-link">
    <i class="stb-icon fa fa-group"></i>
    <span class="stb-link-text">People</span>
  </a>

  <!-- Note that since this is all on the client, sufficiently
       savvy users will be able to read this template and
       find out about the admin route.  However, our server-
       side checks should prevent them from seeing any of the
       admin data. -->
  <!-- Note to sufficiently savvy users: please don't make me
       regret typing that. -->

  <% if(user.get('site_admin')) { %>
    <a href="<%= Structural.Router.adminHref() %>" class="stb-link">
      <i class="stb-icon fa fa-dashboard"></i>
      <span class="stb-link-text">Admin</span>
    </a>
    <!-- This isn't a real app link so it doesn't get a router function. -->
    <a href="/ux/testbed" class="stb-link">
      <i class="stb-icon fa fa-fighter-jet fa-rotate-270"></i>
      <span class="stb-link-text">UX Testbed</span>
    </a>
  <% } %>
</div>

<div class="stb-group pull-right">
  <span class='stb-name'>
    <span class="stb-name-text"><%= user.escape('name') %></span>
  </span>
  <a href="<%= Structural.Router.profileHref() %>" class="stb-link" title="Settings">
    <i class="stb-icon fa fa-user"></i>
  </a>
  <a href="<%= Structural.Router.logoutHref() %>" class="stb-link" title="Sign Out">
    <i class="stb-icon fa fa-sign-out"></i>
  </a>
</div>

