<% if (message.escape('type') == 'message') { %>
<div class="conversation-piece message btn-faint-container">
  <div class="message-info clearfix">
    <div class="pull-right">
      <span class='time unfilled-timestamp'
            data-timestamp="<%= message.escape('timestamp') %>"></span>
      <div class="btn-group btn-group-dropdown">
        <a href='#' class="btn btn-faint dropdown-toggle">&#9660;</a>
        <div class="dropdown-menu dropdown-menu-left hidden">
          <span class="menu-title">Edit Message</span>
          <ul>
            <li><a href="#">Move to...</a> </li>
            <li><a href="#">Send to Sidebar</a> </li>
            <li>
              <form accept-charset="UTF-8"
                action="/conversations/<%= ConversateApp.opened_conversation %>/delete"
                class="hidden-form" method="post">
                <div style="margin:0;padding:0;display:inline">
                  <input name="utf8" type="hidden" value="&#x2713;" />
                  <input name="_method" type="hidden" value="put" />
                  <input name="authenticity_token" type="hidden"
                    value="<%= $('meta[name="csrf-token"]').attr('content') %>" />
                </div>
                <input id="message" name="message" type="hidden"
                  value="<%= message.escape('message_id')%>" />
                <input class="dropdown-menu-item" name="commit" type="submit" value="Delete" />
              </form>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="sender"><%= helpers.name(message.get('user')) %></div>
  </div>
  <span class="message-text"><%= message.escape('text') %></span>
</div>
<% } %>

<% if (message.escape('type') == 'update_users') { %>
<div class="conversation-piece update-users">
  <%= helpers.name(message.get('user')) %>
  <% if (message.get('added').length > 0) { %>
    added <%= helpers.names(message.get('added')) %>
    to the conversation
    <% if (message.get('removed').length > 0) { %>
      and
    <% } %>
  <% } %>
  <% if (message.get('removed').length > 0) { %>
    removed <%= helpers.names(message.get('removed')) %>
    from the conversation
  <% } %>
</div>
<% } %>

<% if (message.escape('type') == 'retitle') { %>
<div class="conversation-piece retitle">
  <%= helpers.name(message.get('user')) %> titled the conversation "<%= message.escape('title') %>"
</div>
<% } %>

<% if (message.escape('type') == 'deletion') { %>
<div class="conversation-piece deletion">
  <%= helpers.name(message.get('user')) %> deleted a message
</div>
<% } %>
