<% messages.each( function(message) { %>

<% if (message.escape('type') == 'message') { %>
<div class="conversation-piece message btn-faint-container">
  <div class="message-info clearfix">
    <div class="pull-right">
      <span class='time unfilled-timestamp'
            data-timestamp="<%= message.escape('timestamp') %>"></span>
      <div class="btn-group btn-group-dropdown">
        <a href='#' class="btn btn-faint dropdown-toggle">&#9660;</a>
        <div class="dropdown-menu dropdown-menu-left hidden">
          <span class="menu-title">Edit Message</span>
          <ul>
            <li><a href="#">Move to...</a> </li>
            <li><a href="#">Send to Sidebar</a> </li>
            <li>
              Delete, one day.
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="sender"><%= helpers.name(message.get('user')) %></div>
  </div>
  <span class="message-text"><%= message.escape('text') %></span>
</div>
<% } %>

<% if (message.escape('type') == 'update_users') { %>
<div class="conversation-piece update-users">
  <%= helpers.name(message.get('user')) %>
  <% if (message.get('added').length > 0) { %>
    added folks
    to the conversation
    <% if (message.get('removed').length > 0) { %>
      and
    <% } %>
  <% } %>
  <% if (message.get('removed').length > 0) { %>
    removed folks
    from the conversation
  <% } %>
</div>
<% } %>

<% if (message.escape('type') == 'retitle') { %>
<div class="conversation-piece retitle">
  <%= helpers.name(message.get('user')) %> titled the conversation "<%= message.escape('title') %>"
</div>
<% } %>

<% if (message.escape('type') == 'deletion') { %>
<div class="conversation-piece deletion">
  <%= helpers.name(message.get('user')) %> deleted a message
</div>
<% } %>

<% }); %>

