<% if (message.escape('type') == 'message') { %>
<div class="conversation-piece message btn-faint-container">
  <div class="msg-info clearfix">

    <div class="msg-info-group pull-right">
      <a href='#' class="msg-delete msg-action btn-faint" data-message-id="<%= message.escape('message_id') %>" title='Delete Message'><i class='icon-trash'></i></a>
      <span class='i-text msg-time unfilled-timestamp'
            data-timestamp="<%= message.escape('timestamp') %>"></span>
    </div>

    <div class='msg-info-group pull-left'>
      <span class="msg-sender"><%= helpers.name(message.get('user')) %></span>
    </div>
  </div>

  <div class="msg-text"><%= message.escape('text') %></div>

  <div class='hidden'>
    <form accept-charset="UTF-8"
    action="/conversations/<%= ConversateApp.opened_conversation %>/delete"
    class="hidden-form" method="post"
    id="form-delete-<%= message.escape('message_id') %>">
      <div style="margin:0;padding:0;display:inline">
        <input name="utf8" type="hidden" value="&#x2713;" />
        <input name="_method" type="hidden" value="put" />
        <input name="authenticity_token" type="hidden"
    value="<%= $('meta[name="csrf-token"]').attr('content') %>" />
      </div>
      <input id="message" name="message" type="hidden"
    value="<%= message.escape('message_id')%>" />
      <input name="commit" type="submit" value="Delete" />
    </form>
  </div>

</div>
<% } %>

<% if (message.escape('type') == 'update_users') { %>
<div class="conversation-piece update-users">
  <%= helpers.name(message.get('user')) %>
  <% if (message.get('added').length > 0) { %>
    added <%= helpers.names(message.get('added')) %>
    to the conversation
    <% if (message.get('removed').length > 0) { %>
      and
    <% } %>
  <% } %>
  <% if (message.get('removed').length > 0) { %>
    removed <%= helpers.names(message.get('removed')) %>
    from the conversation
  <% } %>
</div>
<% } %>

<% if (message.escape('type') == 'retitle') { %>
<div class="conversation-piece retitle">
  <%= helpers.name(message.get('user')) %> titled the conversation "<%= message.escape('title') %>"
</div>
<% } %>

<% if (message.escape('type') == 'deletion') { %>
<div class="conversation-piece deletion">
  <%= helpers.name(message.get('user')) %> deleted a message
</div>
<% } %>
