<tr><td colspan='2' style='color:#AAA; font-size:12px; text-align:center'>
  <% if action.removed.empty? && action.added.count == 1 && action.added[0]['id'] == action.user.id %>
  <%= action.user.name %> joined the thread
  <% elsif !action.added.empty? && action.removed.empty? %>
  <%= action.user.name %> added <%= action.added.map {|p| p['name']}.join(', ') %> to the thread
  <% elsif action.added.empty? && !action.removed.empty? %>
  <%= action.user.name %> removed <%= action.removed.map {|p| p['name']}.join(', ') %> from the thread
  <% else %>
  <%= action.user.name %> added <%= action.added.map {|p| p['name']}.join(', ') %> to the thread and removed <%= action.removed.map {|p| p['name'] }.join(', ') %> from the thread
  <% end %>
</td></tr>
