<div class='removable-participant-info clearfix'>
  <%= participant.escape('name') %>
  <span class="act-add-contact-toggle">(add)</span>
  <span class="remove-participant">
    <i class="fa fa-times"></i>
  </span>
</div>


<div class="act-add-contact-form clearfix hidden">
  <div class='form'>
    <div class='help-text'> Add <%= participant.escape('email') %> <br/> to a contact list.</div>
    <div class='error-text hidden'>Something went wrong</div>
    <label >Name</label>
    <input disabled="disabled" type='text' value='<%= participant.escape('name') %>'/>

    <label class="hidden" >Contact List</label>
    <div class='hidden contact-list-select-wrap'>
      <select class='contact-list-select'>
        <% if(Structural._contactLists.length > 1) { %>
          <option value='Contact Lists' disabled selected='selected'>Contact Lists...</option>
        <% } %>
        <% Structural._contactLists.each(function(cl) { %>
        <option value='<%= cl.id %>' <%= Structural._contactLists.length == 1 ? "selected" : "" %>><%= cl.escape("name") %></option>
        <% }) %>
      </select>
      <i class='select-icon fa fa-sort'></i>
    </div>

    <div class='act-add-contact-form-actions clearfix'>
      <a href='#' class='btn pull-left btn-cancel'>Cancel</a>
      <a href='#' class='btn-primary pull-right btn-save'>Save</a>
    </div>
  </div>
</div>
