<%= render 'layouts/header' %>
<div class="rails-page">
  <div class='info-page-wrapper ui-scrollable'>
    <div class="info-page ui-scrollable-contents">

      <%=render "shared/header" %>

      <%= yield %>

    </div>

    <%=render "shared/footer" %>
  </div>
</div>

<%= render 'layouts/footer' %>
