<!DOCTYPE html>
<html>
<head>
  <title><%= unread_count_string %>Water Cooler</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <%= favicon_tag %>
  <link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic|Oswald' rel='stylesheet' type='text/css'>
</head>
<body class="<%= logged_in? ? 'logged-in' : 'not-logged-in' %>">
  <% if logged_in? %>

    <div class="btn-toolbar nav-header clearfix">
      <div class="btn-group pull-left">
        <a href="<%= conversations_path %>" class='btn btn-primary'>Water Cooler</a>
      </div>
      <div class='btn-icon-group pull-right'>
        <a href="<%= edit_users_path %>" class='btn-icon'><i class='icon-user'></i><span class='icon-text'><%= current_user.name %></span></a>
        <a href="#" class='btn-icon'><i class='icon-search'></i></a>
        <a href="<%= destroy_sessions_path %>" class='btn-icon'><i class='icon-signout'></i></a>
      </div>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  <% else %>
    <%= yield %>
  <% end %>
  <%= javascript_include_tag "application" %>
  <%= yield :javascript %>
</body>
</html>
