<!DOCTYPE html>
<html>
<head>
  <title>watercooler</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <link rel="icon" type="image/png" href="/assets/watercooler.png" />
  <link href='http://fonts.googleapis.com/css?family=Arvo:700' rel='stylesheet' type='text/css'>
</head>
<body>
  <% if logged_in? %>
    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <ul class="pull-left nav">
          <li>
            <a href="<%= conversations_path %>">Home</a>
          </li>
        </ul>
        <ul class="pull-right nav">
          <li>
            <a href="<%= edit_users_path %>">Edit Profile</a>
          </li>
          <li>
            <a href="<%= destroy_sessions_path %>">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="container">
    <%= yield %>
  </div>
  <%= javascript_include_tag "application" %>
</body>
</html>
