<!DOCTYPE html>
<html>
<head>
  <title><%= unread_count_string %>Water Cooler</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <%= favicon_tag %>
  <link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic|Oswald' rel='stylesheet' type='text/css'>
</head>
<body>
  <% if logged_in? %>
    <div class="container">
      <div class="header clearfix">
        <div class="btn-group pull-left">
          <a href="<%= conversations_path %>" class='btn btn-primary'>Water Cooler</a>
        </div>
        <div class="btn-group pull-right clearfix">
          <a href="<%= edit_users_path %>" class='btn btn-gray'><%= current_user.name %></a>
          <a href="<%= destroy_sessions_path %>" class='btn btn-gray'>Logout</a>
        </div>
                <div class="btn-group pull-right clearfix">
          <a href="#" class='btn btn-gray dropdown-toggle'>Aa</a>
          <div class="popover hidden">
            <div class="title">View Settings</div>
            <div class='popover-content'>
                <div class='btn-group'>
                  <button class='btn' id='small'>Small</button>
                  <button class='btn' id='medium'>Medium</button>
                  <button class='btn' id='large'>Large</button>
                </div>

            </div>
          </div>
          </div>

      </div>
  <% end %>
  <%= yield %>
  <% if logged_in? %>
    </div>
  <% end %>

  <%= javascript_include_tag "application" %>
</body>
</html>
