<!DOCTYPE html>
<html>
<head>
  <title><%= unread_count_string %>Water Cooler</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <%= favicon_tag %>
  <link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic|Oswald' rel='stylesheet' type='text/css'>
</head>
<body>
  <% if logged_in? %>
    <div class="btn-toolbar nav-header clearfix">
      <div class="btn-multipart pull-right">
        <% if current_user.is_admin %>
          <a href="<%= admin_path %>" class="btn btn-gray">Admin</a>
        <% end %>
        <a href="<%= edit_users_path %>" class='btn btn-gray'><%= current_user.name %></a>
        <a href="<%= destroy_sessions_path %>" class='btn btn-gray'>Logout</a>
      </div>
      <div class="btn-group">
        <a href="<%= conversations_path %>" class='btn btn-primary'>Water Cooler</a>
      </div>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  <% else %>
    <%= yield %>
  <% end %>
  <%= javascript_include_tag "application" %>
  <%= yield :javascript %>
</body>
</html>
