<!DOCTYPE html>
<html>
<head>
  <title>Water Cooler</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <link rel="icon" type="image/png" href="/assets/watercooler.png" />
  <link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic|Oswald' rel='stylesheet' type='text/css'>
</head>
<body>
  <% if logged_in? %>
    <div class="container">
      <div class="header">
        <div class="pull-left logo">
          <a href="<%= conversations_path %>">{{ Logo }}</a>
        </div>
        <div class="pull-right account-tools">
          <a href="<%= edit_users_path %>">Edit Profile</a>
          <a href="<%= destroy_sessions_path %>">Logout</a>
        </div>
      </div>
  <% end %>
  <%= yield %>
  <% if logged_in? %>
    </div>
  <% end %>

  <%= javascript_include_tag "application" %>
</body>
</html>
